## 数据平滑

In [5]:
import pandas as pd

air = pd.read_csv('../../demo_code/Ch02/data/AirPassengers.csv', names=['Date', 'Passengers'])
# 自定义列名，可以在读取文件时使用 header=0 参数来告诉 Pandas 读取文件的第一行作为数据，并通过 names 参数覆盖列名
air

        Date  Passengers
0    1949-01         112
1    1949-02         118
2    1949-03         132
3    1949-04         129
4    1949-05         121
..       ...         ...
139  1960-08         606
140  1960-09         508
141  1960-10         461
142  1960-11         390
143  1960-12         432

[144 rows x 2 columns]

In [19]:
# 使用衰减因子进行平滑处理 alpha为平滑因子 alpha越大，平滑结果就越接近当前值
air['Smooth.5'] = air['Passengers'].ewm(alpha=0.5).mean()
air['Smooth.9'] = air['Passengers'].ewm(alpha=0.9).mean()
air

        Date  Passengers    Smooth.5    Smooth.9
0    1949-01         112  112.000000  112.000000
1    1949-02         118  116.000000  117.454545
2    1949-03         132  125.142857  130.558559
3    1949-04         129  127.200000  129.155716
4    1949-05         121  124.000000  121.815498
..       ...         ...         ...         ...
139  1960-08         606  582.096411  606.665454
140  1960-09         508  545.048205  517.866545
141  1960-10         461  503.024103  466.686655
142  1960-11         390  446.512051  397.668665
143  1960-12         432  439.256026  428.566867

[144 rows x 4 columns]