# influxdb python api使用

- 参考:<https://www.cnblogs.com/yance-dev/p/10500209.html>

In [10]:
from influxdb import InfluxDBClient

# 连接数据库
client = InfluxDBClient(host='localhost', port=8086, database='mydb')

In [11]:
# 创建数据库
client.create_database('example')

In [12]:
print(client.get_list_database()) # 显示所有数据库名称

[{'name': '_internal'}, {'name': 'mydb'}, {'name': 'example'}]

In [13]:
client.drop_database('example') # 删除数据库

In [14]:
print(client.get_list_database()) # 显示所有数据库名称

[{'name': '_internal'}, {'name': 'mydb'}]

In [15]:
result = client.query('show measurements;') # 显示数据库中的表
print("Result: {0}".format(result))

Result: ResultSet({'('measurements', None)': [{'name': 'cpu'}, {'name': 'temperature'}]})

In [16]:
# 查询数据
result = client.query('SELECT * FROM cpu;', database='mydb')
print(result)

ResultSet({'('cpu', None)': [{'time': '2025-01-19T12:07:02.666221Z', 'host': 'ServerA', 'region': 'us_west', 'value': 64.0}]})

### 创建表并增加数据 使用`write_points()`

In [ ]:
import datetime

# 建表并添加数据
current_time = datetime.datetime.now(datetime.timezone.utc).isoformat("T")
body = [
    {
        "measurement": "students",
        "time": current_time,
        "tags": {
            "class": 1
        },
        "fields": {
            "name": "Hyc",
            "age": 3
        },
    }
]

res = client.write_points(body)

In [20]:
client.query("select * from students;")

ResultSet({'('students', None)': [{'time': '2025-01-19T12:50:36.438006Z', 'age': 3, 'class': '1', 'name': 'Hyc'}]})

### 删除表 使用influxQL语句

In [22]:
client.query('drop measurement "student";')

ResultSet({})

In [24]:
result = client.query('show measurements;') # 显示数据库中的表
print("Result: {0}".format(result))

Result: ResultSet({'('measurements', None)': [{'name': 'cpu'}, {'name': 'students'}, {'name': 'temperature'}]})