## Introduction to data.table

- [官方参考](https://cran.r-project.org/web/packages/data.table/vignettes/datatable-intro.html)

In [2]:
library(data.table)
library(zoo)

input <- if (file.exists("../data/my_data/flights14.csv")) {
    print("find the file1")
   "../data/my_data/flights14.csv"
} else {
  "https://raw.githubusercontent.com/Rdatatable/data.table/master/vignettes/flights14.csv"
}
# 使用fread创建data.table
flights <- fread(input)     # ps: fread accepts http and https URLs directly
flights

Attaching package: 'zoo'


The following objects are masked from 'package:data.table':

    yearmon, yearqtr


The following objects are masked from 'package:base':

    as.Date, as.Date.numeric

[1] "find the file1"

       year month day dep_delay arr_delay carrier origin dest air_time distance
1      2014 1     1    14        13       AA      JFK    LAX  359      2475
2      2014 1     1    -3        13       AA      JFK    LAX  363      2475
3      2014 1     1     2         9       AA      JFK    LAX  351      2475
4      2014 1     1    -8       -26       AA      LGA    PBI  157      1035
5      2014 1     1     2         1       AA      JFK    LAX  350      2475
6      2014 1     1     4         0       AA      EWR    LAX  339      2454
7      2014 1     1    -2       -18       AA      JFK    LAX  338      2475
8      2014 1     1    -3       -14       AA      JFK    LAX  356      2475
9      2014 1     1    -1       -17       AA      JFK    MIA  161      1089
10     2014 1     1    -2       -14       AA      JFK    SEA  349      2422
11     2014 1     1    -5       -17       AA      EWR    MIA  161      1085
12     2014 1     1     7        -5       AA      JFK    SFO  365      2586
13     2014 1     1     3         1       AA      JFK    BOS   39       187
14     2014 1     1   142       133       AA      JFK    LAX  345      2475
15     2014 1     1    -5       -26       AA      JFK    BOS   35       187
16     2014 1     1    18        69       AA      JFK    ORD  155       740
17     2014 1     1    25        36       AA      JFK    IAH  234      1417
18     2014 1     1    -1         1       AA      JFK    AUS  232      1521
19     2014 1     1   191       185       AA      EWR    DFW  214      1372
20     2014 1     1    -7        -6       AA      LGA    ORD  142       733
21     2014 1     1    -7         0       AA      LGA    ORD  143       733
22     2014 1     1    -8       -17       AA      LGA    ORD  139       733
23     2014 1     1    -2        15       AA      LGA    ORD  145       733
24     2014 1     1    -3         1       AA      LGA    ORD  139       733
25     2014 1     1    44        42       AA      LGA    ORD  141       733
26     2014 1     1    -1        -2       AA      EWR    DFW  214      1372
27     2014 1     1     3        12       AA      LGA    ORD  137       733
28     2014 1     1    -5        24       AA      LGA    ORD  145       733
29     2014 1     1    26        46       AA      LGA    ORD  132       733
30     2014 1     1    52        91       AA      LGA    ORD  136       733
⋮      ⋮    ⋮     ⋮   ⋮         ⋮         ⋮       ⋮      ⋮    ⋮        ⋮
253287 2014 10    31    3        -7       UA      EWR    TPA  147       997
253288 2014 10    31  271       236       UA      LGA    IAH  195      1416
253289 2014 10    31   10        -5       UA      EWR    ORD  110       719
253290 2014 10    31   21         6       UA      EWR    SFO  340      2565
253291 2014 10    31   -9       -43       UA      EWR    SFO  334      2565
253292 2014 10    31   49        48       UA      EWR    SFO  336      2565
253293 2014 10    31    0       -10       UA      EWR    RSW  156      1068
253294 2014 10    31    9         4       UA      EWR    MIA  160      1085
253295 2014 10    31    3       -32       UA      EWR    LAX  320      2454
253296 2014 10    31   -6       -31       UA      EWR    MSY  161      1167
253297 2014 10    31    5         2       UA      EWR    ORD  132       719
253298 2014 10    31   46        41       UA      EWR    FLL  149      1065
253299 2014 10    31   -1       -18       UA      EWR    CLE   61       404
253300 2014 10    31   14       -17       UA      LGA    IAH  200      1416
253301 2014 10    31    7       -11       UA      EWR    FLL  151      1065
253302 2014 10    31   -4        -1       UA      EWR    MIA  155      1085
253303 2014 10    31    1       -15       UA      EWR    FLL  151      1065
253304 2014 10    31   -3       -26       UA      EWR    IAH  198      1400
253305 2014 10    31    3       -14       UA      EWR    IAH  195      1400
253306 2014 10    31   24        -5       UA      LGA    IAH  198      1416
253307 2014 10    31   14        11       UA      EWR    MIA  151      1085
253308 2014 10    31   41        19       UA      EWR    SFO  344      2565
253309 2014 10    31  427       393       UA      EWR    ORD  100       719
253310 2014 10    31   10       -27       UA      EWR    LAX  326      2454
253311 2014 10    31   18       -14       UA      EWR    LAS  291      2227
253312 2014 10    31    1       -30       UA      LGA    IAH  201      1416
253313 2014 10    31   -5       -14       UA      EWR    IAH  189      1400
253314 2014 10    31   -8        16       MQ      LGA    RDU   83       431
253315 2014 10    31   -4        15       MQ      LGA    DTW   75       502
253316 2014 10    31   -5         1       MQ      LGA    SDF  110       659
       hour
1       9
2      11
3      19
4       7
5      13
6      18
7      21
8      15
9      15
10     18
11     16
12     17
13     12
14     19
15     17
16     17
17     16
18     17
19     16
20      5
21      6
22      6
23      7
24      8
25     10
26     14
27     10
28     11
29     13
30     16
⋮      ⋮
253287 15
253288 23
253289  6
253290 16
253291  8
253292 14
253293  6
253294 10
253295 20
253296  6
253297 10
253298 19
253299  7
253300 17
253301 21
253302 16
253303  6
253304 14
253305 17
253306  6
253307 19
253308 12
253309 21
253310 10
253311 16
253312 14
253313  8
253314 11
253315 11
253316  8

还可以使用`setDT()` （对于data.frame和list结构）或`as.data.table()` （对于其他结构）将现有对象转换为data.table

In [3]:
# 使用data.table函数创建data.table
DT = data.table(
  ID = c("b","b","b","a","a","c"),
  a = 1:6,
  b = 7:12,
  c = 13:18
)
DT

  ID a b  c
1 b  1  7 13
2 b  2  8 14
3 b  3  9 15
4 a  4 10 16
5 a  5 11 17
6 c  6 12 18

#### 使用[i, j, by]来进行数据的操作

- SQL与R的对比
  
    ```R
    DT[i, j, by]
    ##   R:                 i                 j        by
    ## SQL:  where | order by   select | update  group by
    ```
- 思路:

Take DT, subset/reorder rows using `i`, then calculate `j`, grouped by `by`

### 选择行

In [4]:
# 筛选条件
ans <- flights[origin == "JFK" & month == 6L, ]
head(ans)

  year month day dep_delay arr_delay carrier origin dest air_time distance hour
1 2014 6     1    -9        -5       AA      JFK    LAX  324      2475      8
2 2014 6     1   -10       -13       AA      JFK    LAX  329      2475     12
3 2014 6     1    18        -1       AA      JFK    LAX  326      2475      7
4 2014 6     1    -6       -16       AA      JFK    LAX  320      2475     10
5 2014 6     1    -4       -45       AA      JFK    LAX  326      2475     18
6 2014 6     1    -6       -23       AA      JFK    LAX  329      2475     14

In [5]:
# 首先按origin地列升序对flights进行排序，然后按dest列降序排列：
ans <- flights[order(origin, -dest)]
head(ans)

  year month day dep_delay arr_delay carrier origin dest air_time distance hour
1 2014 1      5   6         49       EV      EWR    XNA  195      1131     8
2 2014 1      6   7         13       EV      EWR    XNA  190      1131     8
3 2014 1      7  -6        -13       EV      EWR    XNA  179      1131     8
4 2014 1      8  -7        -12       EV      EWR    XNA  184      1131     8
5 2014 1      9  16          7       EV      EWR    XNA  181      1131     8
6 2014 1     13  66         66       EV      EWR    XNA  188      1131     9

### 选择列

In [6]:
# 将列视为data.table框架内的变量来引用，因此我们直接引用要子集化的变量
# 作为 vector 返回
ans <- flights[, arr_delay]
head(ans)

[1]  13  13   9 -26   1   0

In [7]:
# 返回为data.table
ans <- flights[, list(arr_delay)]
head(ans)

  arr_delay
1  13
2  13
3   9
4 -26
5   1
6   0

允许使用`.()`而不是list()包装列。它是`list()`的别名

In [8]:
ans <- flights[, .(arr_delay, dep_delay)]

## alternatively
# ans <- flights[, list(arr_delay, dep_delay)]
head(ans)

  arr_delay dep_delay
1  13       14
2  13       -3
3   9        2
4 -26       -8
5   1        2
6   0        4

In [9]:
# 重命名
ans <- flights[, .(delay_arr = arr_delay, delay_dep = dep_delay)]
head(ans)

  delay_arr delay_dep
1  13       14
2  13       -3
3   9        2
4 -26       -8
5   1        2
6   0        4

#### Compute or do in j

In [10]:
ans <- flights[, sum((arr_delay + dep_delay) < 0)]  # j 可以处理表达式
ans

[1] 141814

In [11]:
# eg: 计算6月份所有以“JFK”为始发机场的航班的平均到达和出发延误时间

ans <- flights[origin == "JFK" & month == 6L,       # 筛选
        .(mean(arr_delay), mean(dep_delay))]        # 计算
ans

  V1       V2
1 5.839349 9.807884

In [12]:
# 计算筛选条件的行数                                        .N: 保存当前组中的观测值数量
ans <- flights[origin == "JFK" & month == 6L, .N]       # .N <--> length(dest)
ans   # 整个子集并未具体化。我们只是返回子集中的行数（这只是行索引的长度）
# 注意: 我们没有用list()或.()包装.N 。因此，返回一个**向量**

[1] 8422

#### 处理i中不存在的元素

In [13]:
#### Handle non-existing elements in i

# 使用setkeyv时，表按指定键排序并创建内部索引，从而启用二分搜索以实现高效的子集设置
setkeyv(flights, "origin")

In [14]:
flights["XYZ"]  # 基于键的子集

  year month day dep_delay arr_delay carrier origin dest air_time distance hour
1 NA   NA    NA  NA        NA        NA      XYZ    NA   NA       NA       NA

In [15]:
flights[origin == "XYZ"] # 逻辑子集 执行标准子集操作，未找到任何匹配行，因此返回空data.table

     year month day dep_delay arr_delay carrier origin dest air_time distance
     hour

In [16]:
# 使用nomatch=NULL进行精确匹配
flights["XYZ", nomatch=NULL]

     year month day dep_delay arr_delay carrier origin dest air_time distance
     hour

In [17]:
# 效率地下的情况:
# nrow(): 必须首先对与i中的行索引相对应的整个data.table进行子集化
nrow(flights[origin == "JFK" & month == 6L])

[1] 8422

#### 通过j中的名称引用列

In [18]:
# 显式写出列名称，则与data.frame （自 v1.9.8 起）相比没有区别
ans <- flights[, c("arr_delay", "dep_delay")]
head(ans)

  arr_delay dep_delay
1   0         4
2 -17        -5
3 185       191
4  -2        -1
5 -10        -3
6 -17         4

In [19]:
# 如果已经存储列名到向量中, 使用..前缀或使用with参数

select_cols = c("arr_delay", "dep_delay")
flights[ , ..select_cols]

       arr_delay dep_delay
1        0         4
2      -17        -5
3      185       191
4       -2        -1
5      -10        -3
6      -17         4
7       27        -3
8       -8        -5
9      -16        -9
10     -12         4
11      15         4
12      15        20
13     -11        -5
14     -16        -3
15      -5        -3
16      21        -4
17      21        21
18       1         3
19       3        -2
20       7         9
21      -3        -3
22      18        -7
23      -8       -11
24      19        -6
25      50        42
26      29        23
27     132       118
28     -13        -3
29      -3        -6
30      30        17
⋮      ⋮         ⋮
253287 -10        -5
253288   2        -5
253289 -22        -5
253290   7        12
253291  -4         5
253292 -22         4
253293  25        72
253294 -30         9
253295  50        70
253296 -44        -4
253297 110        98
253298   1        -8
253299 -28        -1
253300 220       244
253301 -28        -4
253302  14         4
253303 -43        -7
253304 365       366
253305 -16        -7
253306 138       167
253307 143        54
253308  -5        -6
253309 -25         1
253310 236       271
253311 -17        14
253312  -5        24
253313 -30         1
253314  16        -8
253315  15        -4
253316   1        -5

#### `R with(data, expression)`:

- data: 要在其中评估表达式的环境或数据框。
- expression: 要评估的 R 表达式。此表达式可以包含 data 中的列名，并且不需要显式地写出数据框名

- eg1:

    ```R
     with(df, height / weight) <-> df$height / df$weight
    ```
- eg2: 进行条件筛选

```R
subset_data <- with(df, df[height > 170, ])
```

#### data.table的with参数

在 data.table 中，当你使用 flights[, select_cols] 语法时，它会默认理解为列名的**表达式**，并且会自动 查找这些列的值。如果 select_cols 是列名的字符向量，data.table 会尝试对这些列进行操作，比如进行求和、计算或其他操作，而`不是`简单地选取这些列

In [20]:
# 设置with = FALSE会禁用像变量一样引用列的能力，从而恢复“ data.frame模式”
head(flights[ , select_cols, with = FALSE]) # 告诉它这是要提取列，而不是当作列操作的表达式

  arr_delay dep_delay
1   0         4
2 -17        -5
3 185       191
4  -2        -1
5 -10        -3
6 -17         4

In [21]:
# 还可以使用-或!取消选择列

# returns all columns except arr_delay and dep_delay
ans <- flights[, !c("arr_delay", "dep_delay")]

# or
# ans <- flights[, -c("arr_delay", "dep_delay")]
head(ans)

  year month day carrier origin dest air_time distance hour
1 2014 1     1   AA      EWR    LAX  339      2454     18
2 2014 1     1   AA      EWR    MIA  161      1085     16
3 2014 1     1   AA      EWR    DFW  214      1372     16
4 2014 1     1   AA      EWR    DFW  214      1372     14
5 2014 1     1   AA      EWR    MIA  154      1085      6
6 2014 1     1   AA      EWR    DFW  215      1372      9

In [22]:
# 还可以通过指定开始和结束列名称来选择

# returns year,month and day
ans1 <- flights[, year:day]
# returns day, month and year
ans2 <- flights[, day:year]
# returns all columns except year, month and day
ans3 <- flights[, -(year:day)]
ans4 <- flights[, !(year:day)]

print(head(ans1))
print(head(ans2))
print(head(ans3))
print(head(ans4))

    year month   day
   <int> <int> <int>
1:  2014     1     1
2:  2014     1     1
3:  2014     1     1
4:  2014     1     1
5:  2014     1     1
6:  2014     1     1
     day month  year
   <int> <int> <int>
1:     1     1  2014
2:     1     1  2014
3:     1     1  2014
4:     1     1  2014
5:     1     1  2014
6:     1     1  2014
Key: <origin>
   dep_delay arr_delay carrier origin   dest air_time distance  hour
       <int>     <int>  <char> <char> <char>    <int>    <int> <int>
1:         4         0      AA    EWR    LAX      339     2454    18
2:        -5       -17      AA    EWR    MIA      161     1085    16
3:       191       185      AA    EWR    DFW      214     1372    16
4:        -1        -2      AA    EWR    DFW      214     1372    14
5:        -3       -10      AA    EWR    MIA      154     1085     6
6:         4       -17      AA    EWR    DFW      215     1372     9
Key: <origin>
   dep_delay arr_delay carrier origin   dest air_time distance  hour
       <int>     <int>  <char> <char> <char>    <int>    <int> <int>
1:         4         0      AA    EWR    LAX      339     2454    18
2:        -5       -17      AA    EWR    MIA      161     1085    16
3:       191       185      AA    EWR    DFW      214     1372    16
4:        -1        -2      AA    EWR    DFW      214     1372    14
5:        -3       -10      AA    EWR    MIA      154     1085     6
6:         4       -17      AA    EWR    DFW      215     1372     9

### Aggregations

#### 使用by
注意: 分组列的输入顺序保留在结果中

In [23]:
# 如何获取每个始发机场对应的出行次数        # 当j和by中只有一列或表达式可供引用时，我们可以删除.()表示法
ans <- flights[, .(.N), by = .(origin)]  # 或者: , by = "origin" 或 by = origin
ans     # 由于我们没有为j中返回的列提供名称，因此通过识别特殊符号.N自动将其命名为N

  origin N
1 EWR    87400
2 JFK    81483
3 LGA    84433

In [24]:
# group by multiple columns

ans <- flights[carrier == "AA", .N, by = .(origin, dest)]
head(ans)

  origin dest N
1 EWR    LAX    62
2 EWR    MIA   848
3 EWR    DFW  1618
4 EWR    PHX   121
5 JFK    LAX  3387
6 JFK    MIA  1876

In [25]:
# 与运算结合
ans <- flights[carrier == "AA",                     # 筛选
        .(mean(arr_delay), mean(dep_delay)),        # 计算
        by = .(origin, dest, month)]                # 分组
head(ans)  # 由于我们没有为j中的表达式提供列名称，因此它们会自动生成为V1和V2

  origin dest month V1        V2
1 EWR    LAX  1      1.366667  7.500000
2 EWR    MIA  1     11.011236 12.123596
3 EWR    DFW  1      6.427673 10.012579
4 EWR    MIA  2      1.564103  4.756410
5 EWR    DFW  2     10.536765 11.345588
6 EWR    LAX  2     10.333333  4.111111

#### Sorted by: keyby

希望根据分组中的变量自动排序,
直接对分组的变量进行排序
- 如果有多个列, 则按顺序排列

In [26]:
ans <- flights[carrier == "AA",
        .(mean(arr_delay), mean(dep_delay)),
        keyby = .(origin, dest, month)]     # 使用keyby参数，将结果按照by中的列排序
head(ans)           # 由于by的内部实现首先要求在恢复原始表的顺序之前进行排序，所以keyby通常比by更快，因为它不需要第二步

  origin dest month V1        V2
1 EWR    DFW  1      6.427673 10.012579
2 EWR    DFW  2     10.536765 11.345588
3 EWR    DFW  3     12.865031  8.079755
4 EWR    DFW  4     17.792683 12.920732
5 EWR    DFW  5     18.487805 18.682927
6 EWR    DFW  6     37.005952 38.744048

#### Chaining（链接）

通过链接表达式来完全避免对临时变量的中间赋值

可以一个接一个地添加表达式，形成一个操作链，即`DT[ ... ][ ... ][ ... ] `

In [27]:
# eg: 使用origin列按升序排列ans和dest按降序排列

ans <- flights[carrier == "AA", .N, by = .(origin, dest)][order(origin, -dest)]
ans

   origin dest N
1  EWR    PHX   121
2  EWR    MIA   848
3  EWR    LAX    62
4  EWR    DFW  1618
5  JFK    STT   229
6  JFK    SJU   690
7  JFK    SFO  1312
8  JFK    SEA   298
9  JFK    SAN   299
10 JFK    ORD   432
11 JFK    MIA  1876
12 JFK    MCO   597
13 JFK    LAX  3387
14 JFK    LAS   595
15 JFK    IAH     7
16 JFK    EGE    85
17 JFK    DFW   474
18 JFK    DCA   172
19 JFK    BOS  1173
20 JFK    AUS   297
21 LGA    PBI   245
22 LGA    ORD  4366
23 LGA    MIA  3334
24 LGA    DFW  3785

#### 特殊符号.SD 

Subset of Data，即 数据子集

.SD 通常指代当前分组内的数据集，不包括分组列本身

In [28]:
ans <- flights[, print(.SD), by = origin]  # .SD: Subset of Data
# 不包括分组列本身(origin列)

        year month   day dep_delay arr_delay carrier   dest air_time distance
       <int> <int> <int>     <int>     <int>  <char> <char>    <int>    <int>
    1:  2014     1     1         4         0      AA    LAX      339     2454
    2:  2014     1     1        -5       -17      AA    MIA      161     1085
    3:  2014     1     1       191       185      AA    DFW      214     1372
    4:  2014     1     1        -1        -2      AA    DFW      214     1372
    5:  2014     1     1        -3       -10      AA    MIA      154     1085
   ---
87396:  2014    10    31        41        19      UA    SFO      344     2565
87397:  2014    10    31       427       393      UA    ORD      100      719
87398:  2014    10    31        10       -27      UA    LAX      326     2454
87399:  2014    10    31        18       -14      UA    LAS      291     2227
87400:  2014    10    31        -5       -14      UA    IAH      189     1400
        hour
       <int>
    1:    18
    2:    16
    3:    16
    4:    14
    5:     6
   ---
87396:    12
87397:    21
87398:    10
87399:    16
87400:     8
        year month   day dep_delay arr_delay carrier   dest air_time distance
       <int> <int> <int>     <int>     <int>  <char> <char>    <int>    <int>
    1:  2014     1     1        14        13      AA    LAX      359     2475
    2:  2014     1     1        -3        13      AA    LAX      363     2475
    3:  2014     1     1         2         9      AA    LAX      351     2475
    4:  2014     1     1         2         1      AA    LAX      350     2475
    5:  2014     1     1        -2       -18      AA    LAX      338     2475
   ---
81479:  2014    10    31        -4       -21      UA    SFO      337     2586
81480:  2014    10    31        -2       -37      UA    SFO      344     2586
81481:  2014    10    31         0       -33      UA    LAX      320     2475
81482:  2014    10    31        -6       -38      UA    SFO      343     2586
81483:  2014    10    31        -6       -38      UA    LAX      323     2475
        hour
       <int>
    1:     9
    2:    11
    3:    19
    4:    13
    5:    21
   ---
81479:    17
81480:    18
81481:    17
81482:     9
81483:    11
        year month   day dep_delay arr_delay carrier   dest air_time distance
       <int> <int> <int>     <int>     <int>  <char> <char>    <int>    <int>
    1:  2014     1     1        -8       -26      AA    PBI      157     1035
    2:  2014     1     1        -7        -6      AA    ORD      142      733
    3:  2014     1     1        -7         0      AA    ORD      143      733
    4:  2014     1     1        -8       -17      AA    ORD      139      733
    5:  2014     1     1        -2        15      AA    ORD      145      733
   ---
84429:  2014    10    31        24        -5      UA    IAH      198     1416
84430:  2014    10    31         1       -30      UA    IAH      201     1416
84431:  2014    10    31        -8        16      MQ    RDU       83      431
84432:  2014    10    31        -4        15      MQ    DTW       75      502
84433:  2014    10    31        -5         1      MQ    SDF      110      659
        hour
       <int>
    1:     7
    2:     5
    3:     6
    4:     6
    5:     7
   ---
84429:     6
84430:    14
84431:    11
84432:    11
84433:     8

In [29]:
# 为了计算（多个）列，我们可以简单地使用基本 R 函数lapply() 
# 使用 .SDcols 限定操作的列
flights[carrier == "AA",                       ## Only on trips with carrier "AA"
        lapply(.SD, mean),                     ## compute the mean
        by = .(origin, dest, month),           ## for every 'origin,dest,month'
        .SDcols = c("arr_delay", "dep_delay")] ## for just those specified in .SDcols

    origin dest month arr_delay   dep_delay
1   EWR    LAX   1     1.366667    7.5000000
2   EWR    MIA   1    11.011236   12.1235955
3   EWR    DFW   1     6.427673   10.0125786
4   EWR    MIA   2     1.564103    4.7564103
5   EWR    DFW   2    10.536765   11.3455882
6   EWR    LAX   2    10.333333    4.1111111
7   EWR    DFW   3    12.865031    8.0797546
8   EWR    LAX   3    -4.400000   -6.8000000
9   EWR    MIA   3    -4.111111    0.4444444
10  EWR    DFW   4    17.792683   12.9207317
11  EWR    MIA   4     3.188889    6.4333333
12  EWR    DFW   5    18.487805   18.6829268
13  EWR    MIA   5    -2.537634    6.3440860
14  EWR    DFW   6    37.005952   38.7440476
15  EWR    MIA   6     7.306818   16.2045455
16  EWR    DFW   7    20.250000   21.1547619
17  EWR    MIA   7    25.219780   26.3516484
18  EWR    PHX   7    -5.103448    0.2758621
19  EWR    DFW   8    16.936047   22.0697674
20  EWR    MIA   8    -6.125000    0.8461538
21  EWR    PHX   8     3.548387    6.2258065
22  EWR    DFW   9     5.865031   13.0552147
23  EWR    MIA   9    -0.906250    0.3593750
24  EWR    PHX   9    -4.233333   -1.6666667
25  EWR    DFW  10    18.813665   18.8944099
26  EWR    MIA  10    -4.475410   -3.7868852
27  EWR    PHX  10    -3.032258   -4.2903226
28  JFK    LAX   1     6.590361   14.2289157
29  JFK    MIA   1    15.720670   18.7430168
30  JFK    SEA   1    14.357143   30.7500000
⋮   ⋮      ⋮    ⋮     ⋮           ⋮
171 LGA    ORD   2      5.2852665  8.7899687
172 LGA    MIA   2      9.6250000 10.7000000
173 LGA    DFW   2      5.3713355  7.4788274
174 LGA    PBI   3     -5.7540984  3.0327869
175 LGA    ORD   3      2.2828283  3.6464646
176 LGA    MIA   3     -1.7076923  0.7641026
177 LGA    DFW   3     -0.2460733 -1.2853403
178 LGA    PBI   4    -13.9666667 -4.7333333
179 LGA    ORD   4      1.3588110  4.4182590
180 LGA    MIA   4     -3.8275862  0.6551724
181 LGA    DFW   4     -1.7734375 -0.8020833
182 LGA    ORD   5     12.8898488 12.3844492
183 LGA    MIA   5     -4.3606061  7.6424242
184 LGA    DFW   5      1.1266150  7.7416021
185 LGA    PBI   5    -10.3571429 -6.8571429
186 LGA    ORD   6     18.9145299 17.2991453
187 LGA    MIA   6     -2.4576803  8.4670846
188 LGA    DFW   6      5.2592593  8.3068783
189 LGA    MIA   7      4.8658537  7.4878049
190 LGA    ORD   7      7.4535865  8.4367089
191 LGA    DFW   7      4.2918782  6.5710660
192 LGA    MIA   8     -4.4423077  3.5416667
193 LGA    ORD   8     15.1728395 14.3333333
194 LGA    DFW   8     -3.0765306  5.4744898
195 LGA    ORD   9      4.3311547  3.7843137
196 LGA    DFW   9     -8.7877238 -0.2557545
197 LGA    MIA   9     -8.5799257 -4.0408922
198 LGA    ORD  10     15.4661191 12.9117043
199 LGA    DFW  10      3.5000000  4.5527638
200 LGA    MIA  10     -6.2517986 -1.4208633